[Unit]
Description=PomidorKA Message Service
Wants=network.target
After=network.target

[Install]
WantedBy=default.target

[Service]
Type=simple
User=eugene
ExecStart=/usr/bin/php /var/www/pomidorka/service/MessageService.php
KillSignal=SIGTERM
KillMode=process
Restart=on-failure
